.top{
	width: 100%;
	min-width: 460px;
	max-width: 960px;
	min-height: 100px;
	background: blue;
	margin: 0 auto 30px;
}
.container{
	width: 100%;
	max-width: 960px;
	min-width: 460px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
	box-sizing: border-box;
}
.item{
	background: blue;
	min-height: 200px;
	flex: 1 1 calc(33.3% - 20px);
	margin: 0 10px 20px;
	display: flex;
	color: #fff;
	font-size: 40px;
	justify-content: center;
	align-items: center;

}