*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5 ease-in-out;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: normal;
  letter-spacing: 1px;
}
body {
  font-family: "Open Sans", Arial, serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
  content: "";
  display: table;
  clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
  width: 100%;
  max-width: 960px;
  padding: 15px;
  margin: 0 auto;
}
