*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s ease-in-out;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    width: 100%;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    font-family: "Open Sans", Arial, serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
    content: "";
    display: table;
    clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
    width: 100%;
    max-width: 960px;
    padding: 15px;
    margin: 0 auto;
}
/* Стили для шапки и её содержимого  */
header {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
    position: relative;
}
.logo {
    display: block;
    float: left;
}
.logo span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin: 5px 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.logo span:nth-child(odd) {
    background: #ef5a42;
}
.logo span:nth-child(even) {
    background: #f8b763;
}
#menu {
    float: right;
}
#searchform {
    float: right;
}
