*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;

    margin: 0;
    padding: 0;

    color: #6c7279;
}

.container
{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
}


/*=======================
HEADER
========================*/
.header
{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 10rem;
}

.header__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 3.5rem 0;

    border-bottom: 1px solid #515369;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav
{
    font-size: 1.3rem;
    font-weight: 700;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-transform: uppercase;
}
.nav__link
{
    margin-left: 5rem;

    text-decoration: none;

    opacity: .3;
    color: white;
}
.nav__link:first-child
{
    margin-left: 0;
}
.nav__link:hover
{
    opacity: 1;
}
.burger
{
    display: none;
}
/*==========================
INTRO
=========================*/
.intro
{
    display: flex;
    flex-direction: column;

    min-height: 75rem;
    padding-top: 10rem;

    background-color: #323651;
    background-image: url('../images/bg-intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    justify-content: center;
}

.intro__inner
{
    width: 100%;
    max-width: 97rem;
    margin: 0 auto;

    text-align: center;
}
.intro__title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1.1;

    margin: 0 0 3rem;

    text-transform: uppercase;

    color: white;
}
.intro__subtitle
{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.5;

    margin-bottom: 6rem;

    color: white;
}
/*===========================
BUTTON
============================*/
.btn
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

    display: inline-block;

    padding: 1.4rem 4rem;

    cursor: pointer;
    transition: background .1 linear;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border: none;
    border-radius: .3rem;
}
.btn-red
{
    background-color: #e84545;
}
.btn-red:hover
{
    background-color: #dd3434;
}
