<!DOCTYPE html>
html(lang="en")
   block head
      head
         meta(charset="UTF-8") 
         meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0") 
         meta(content="ie=edge" http-equiv="x-ua-compatiable")
         title My Site
         link(rel="stylesheet", href="assets/css/style.css")
   body
      block header 
         include header 
      block content 
      block footer
         include footer 
      block scripts
         script(src="/main.js")